@tailwind base;
@tailwind components;
@tailwind utilities;

.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #ddd !important;
    border-radius: 0 !important;
    height: 46px !important;
    padding: 0.5rem !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 42px !important;
    position: absolute;
    top: 1px;
    right: 5px !important;
    width: 20px;
}

.form-height {
    height: 46px;
}

.first-letter::first-letter {
    font-size: 150%;
    color: #f56b6b;
    text-transform: capitalize;
}

div:where(.swal2-container) button:where(.swal2-styled).swal2-confirm {
    border: 0;
    border-radius: 0.25em;
    background-color: rgb(55 65 81);
    color: #fff;
    font-size: 1em;
}

.text-container {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 3; /* Number of lines to show before adding ellipsis */
}
